# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/
*.log

# Ignore environment files
.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE and editor specific files
.idea/
.vscode/

# Ignore npm debugging log
npm-debug.log*
